body {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-top: 100px;
  font-family: Arial, sans-serif;
  background: url(https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118_960_720.png);
  background-size: contain;
}

#login{
    position: absolute;
    top: 0;
    right: 0px;
    color: #fff;
    height: 20px;
    width: 70px;
    background-color: black;
}

#h6 {
    color: white;
}

#pic {
  position: absolute;
  left: 0px;
}

#pic2 {
 position: absolute;
}

#button {
  color: #fff;
  width: 100px;
  background-color: black;
  cursor: pointer;
  border: 2px solid;
  border-radius: 20px;
}