body {
  margin: 0;
  padding: 0;
  background: url(https://i.pinimg.com/736x/2c/f5/2e/2cf52ebd69d946e6f7d07e7cd6ff07fe.jpg);
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 100px;
  font-family: Arial, sans-serif;
  background-repeat: repeat;
}

#login{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    height: 20px;
    width: 70px;
    background-color: black;
    cursor: pointer;
    border: 2px solid;
    border-radius: 20px;
}