body {
  margin: 0;
  background: #222;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.box {
  width: 60px;
  height: 60px;
  background: green;
  position: absolute;
  top: 0;
  left: 0;
}